[2017-02-19 21:47] nicklaw5 opened #1 "Add Travis CI for testing"
Send stats to Coveralls (#2)

[2017-02-19 21:50] nicklaw5 opened #2 "Add Coveralls for coverage reporting"
https://coveralls.io/

[2017-02-22 09:59] #1 closed

[2017-03-15 00:18] RickyNotaro opened #4 "The "testApiVersionDefaultsTo5IfNotSpecificallySet" is specifying the api version"
Hello, as seen [there](https://github.com/nicklaw5/twitch-api-php/blob/54eb9a9c7bd33eb3c7403038894cf788a3447088/test/TwitchApiTest.php#L53), the "testApiVersionDefaultsTo5IfNotSpecificallySet" test case introduced in [this commit](https://github.com/nicklaw5/twitch-api-php/commit/d8d8d589ac71097d05039900e302d8629e2d7040) is wrongfully specifying the api version 5 when initializing the TwichApi obj

[2017-03-15 03:02] nicklaw5 commented on #4
Closed via #5

[2017-03-15 03:02] #4 closed

[2017-03-31 17:41] romanzipp opened #6 "Streams::getLiveStreams channel attribute"
The `channel` variable ist checked for `string` but used in the `foreach` loop afterwards resulting in

[code]

[2017-03-31 19:47] #6 closed

[2017-03-31 19:53] nicklaw5 commented on #6
Thanks for the report @romanzipp. That has been fixed, and I've released v0.1.2 :smiley:

[2017-04-01 19:08] romanzipp opened #7 "Name to ID"
Could you add the endpoint for name to id translations?

This would be:

[code]
(v5 API)

[2017-04-01 19:31] nicklaw5 commented on #7
I sure can, I wasn't actually aware this was a thing. I'll get to it today.

[2017-04-01 23:13] nicklaw5 commented on #7
@romanzipp the `getUserByUsername` method has been added in 1c17b21.

I will release a new version once I'm finished adding the collection endpoints, but if you need this method now, just have composer pull down `dev-master` instead of a specific version.

[2017-04-01 23:13] #7 closed

[2017-04-26 13:49] romanzipp opened #8 "Add Root /kraken Enpoint"
The `/kraken` Endpoint identifies if an OAuth token is still valid.

Documentation: https://dev.twitch.tv/docs/v5/guides/using-the-twitch-api/#requests

### Details:
GET `https://api.twitch.tv/kraken` (with OAuth Authorization)

#### VALID  Response
[code]

#### INVALID  Response
[code]

[2017-04-26 19:11] nicklaw5 commented on #8
Thanks for pointing that out @romanzipp.

I've added the `validateAccessToken($myAccessToken)` for handling these requests (see 39a461c93cdca4030a0b849a7434342cdf8a3901). I've also published a new release.

[2017-04-26 19:11] #8 closed

[2017-11-16 07:02] nicklaw5 opened #11 "Add support for the "helix" API"
See https://dev.twitch.tv/docs/api/reference

Helix integration should include support for webhooks (see #13).

[2017-11-21 23:57] nicklaw5 commented on #11
Inadvertently closed

[2018-01-28 04:03] nicklaw5 commented on #2
Closing until we have better test coverage.

[2018-01-28 04:03] #2 closed

[2018-01-31 14:43] RickyNotaro commented on #2
I will try to do some test coverage this weekend @nicklaw5. :)

I need to train my Unit Testings skills, it's been a while since I didn't use them. 😐

[2018-03-13 00:12] echosa opened #13 "Webhooks support"
Are there any plans to add calling into webhooks from this API?

https://dev.twitch.tv/docs/api/webhooks-guide

[2018-03-13 00:39] nicklaw5 commented on #13
The library's current state only caters to Twitch's v3 & v5 APIs. Twitch's webhook implementation has only been introduced by their newest API, Helix. I am hoping to  make a start on the Helix integration in the near future (see #11). That will likely happen once I'm finished on [my Go implementation of the Helix API](https://github.com/nicklaw5/helix).

[2018-03-13 01:24] echosa commented on #13
Awesome, thanks! I'll keep an eye out. 👍 Free free to close this if it duplicates #11, or keep it open if it acts as a separate effort.

[2018-03-13 01:53] #13 closed

[2018-03-20 20:19] echosa opened #14 "Enable request logging via middleware"
I'm trying to get request logging via middleware working, as described here: https://michaelstivala.com/logging-guzzle-requests/

However, the logger I need to use is a service, normally retrieved as `$container->get('logger');`. I'm not sure how I can inject this middleware with that logging service into the handlerstack of Guzzle for this library. Is that possible?

[2018-03-20 21:55] nicklaw5 commented on #14
At present, no it's not possible. However, to implement such a feature is not difficult to achieve. All you would need to do is extend the currently supported options to include the ability to pass through Guzzle configuration options. For example:

[code]

In this library's constructor we would need to create a new property and provide it with an empty array as default:

[code]

Then we just need

[2018-03-20 21:59] echosa commented on #14
I'll see if I can get it working, and if so, I'll pass a PR your way. Appreciated!

[2018-03-22 15:38] echosa opened #15 "Refresh token calls do not work because they call the wrong URL"
I couldn't figure out why refresh token calls were always failing. It turns out that refresh token calls are supposed to be called from `id.twitch.tv`, not `api.twitch.tv`, according to [the documentation](https://dev.twitch.tv/docs/authentication/#refreshing-access-tokens).

[2018-03-22 15:38] echosa commented on #15
@nicklaw5 I'll see about fixing this and submit a PR.

[2018-03-22 17:29] echosa commented on #15
Actually, as it turns out, all the calls need to be updated. `api.twitch.tv/kraken` is already deprecated, and set to be discontinued at the end of the year. Yikes. I'll see if I can get the library updated.

https://dev.twitch.tv/docs/v5/#which-api-version-can-you-use

[2018-03-22 18:30] nicklaw5 commented on #15
Thanks for raising this, I was unaware of the new authentication endpoint.

According to the [docs](https://dev.twitch.tv/docs/authentication/#getting-tokens), the Kraken endpoint should still work:

When you say

what error are you receiving?

[2018-03-22 18:44] echosa commented on #15
I've been working with a Twitch developer. While initial authorization calls work with `api.twitch.tv`, refresh and revoke apparently require `id.twitch.tv`. So that, at minimum, needs to change. That said, with the discontinuation of Kraken this year, this library needs to be updated to Helix and the New Twitch API.

[2018-03-22 18:47] nicklaw5 commented on #15
Yes, it appears their docs have become extremely confusing of late. Just looking at them now it seems they have many misleading statements.

I'm working on a fix now. I'll create a PR for you to test if you don't mind?

[2018-03-22 18:51] echosa commented on #15
I'd be happy to test. Will this just fix refresh/revoke, or will it be a full conversion to the new API? The former is much more pressing, as that is code I currently have running that's failing. The latter is an effort that needs to be done this year, preferably sooner rather than later.

[2018-03-22 18:59] nicklaw5 commented on #15
I'm going to fix the current issue with refresh/revoke. The new Helix implementation will likely be done in a separate repository. The problem with the new Helix API is that Twitch hasn't finished it yet, and it lacks a lot of endpoints that the Kraken API has. I hope they get it done sooner than later.

[2018-03-22 19:09] echosa commented on #15
I felt the same way. However, I've been told that not all Kraken endpoint will make it into Helix. If there are any missing that you need, you should report them somewhere. That said, it seems as though Twitch is treating the New Twitch API as the the de facto standard now, especially since v5/kraken has been deprecated for over half a year. Basically, we should consider the new API/helix as compl

[2018-03-22 19:21] nicklaw5 commented on #15
@echosa see #16. I haven't tested it, but it _should_ work.

[2018-03-23 18:51] nicklaw5 commented on #15
@echosa This does not appear to be a bug in this library. The Kraken API OAuth2 endpoints appear to be working as expected. It may be that the Kraken API is deprecated but the endpoints still work as documented, and should continue to do so until the it is removed later this year.

From my testing I've been able to create an access token, as well as refresh and revoke it using https://api.twitch.t

[2018-03-23 19:09] nicklaw5 commented on #15
I've also added the `revokeAccess` method and cut a new release (v1.1). Please update your composer dependencies to use it.

[2018-03-23 19:15] echosa commented on #15
I'll try the new version. Refresh token hasn't been working for me at all with kraken, so if you haven't made any changes to that, I'm not sure if it will work now. Can you send me the code you used to refresh a token with this library? Perhaps I've done something wrong on my end.

[2018-03-23 19:38] nicklaw5 commented on #15
Here's the code I used to test:

[code]

[2018-03-23 20:41] echosa commented on #15
Thanks. I got it working now. The issue wasn't the api calls themselves. Rather, my refresh codes were getting truncated when stored, thus they were invalid. 🙄 Thanks for the help and the work. I still think the library should move to the New Twitch API sooner rather than later, and I'm happy to help if I can, since I use and depend on the library. Hopefully you can find time to start that project

[2018-04-18 01:54] ecfy opened #17 "Issue with the $game parameter in Clips::getTopClips."
There's an issue with the $game parameter validation. Right now, it shows:

`if ($count = count(explode(',', $game) > 10)) {`

while it should be

`if ($count = count(explode(',', $game)) > 10) {` .

I'll send a PR shortly.

[2018-04-18 02:06] #17 closed

[2018-05-16 21:07] cihantas commented on #11
Is Helix support still desired for PHP or are you only maintaining the Golang version from now on?

[2018-05-16 21:39] echosa commented on #11
I certainly hope that PHP will be updated as well! Our site definitely isn't switching to Golang anytime soon, and with the old Twitch APIs being retired at the end of the year, this package will definitely need to be updated.

[2018-05-16 21:49] nicklaw5 commented on #11
At present, I do not have the time to contribute to the task of catering this library to the new Helix API. Hence, why I've added the `help wanted` tag to this issue.

I am very happy to accept PRs with regard to adding support for the Helix API, but I simply can't take on this task myself at this time.

[2018-05-16 22:16] echosa commented on #11
I think I said it before, but just in case I'll say it again: I'll try to help tackle this when I can. Hopefully sooner rather than later!

[2018-10-10 14:18] echosa commented on #11
@nicklaw5 FYI I have been working on adding Helix support. I forked this repo and created a new branch. Link at the bottom of this comment.

What I've decided to do is create a new package (`NewApi`) within the src directory to hold all the new Helix code and endpoints. This allows the existing Kraken API code you've written to remain silo-ed and untouched, which provides two benefits: 1) the exis

[2018-10-10 21:41] echosa commented on #11
When I think it's ready, I'll definitely send in a PR. :-) I do want to try to get some tests in place. I'll have to mock out the actual API calls out, the but Twitch documentation gives examples of responses, so I can just use those. That's quite helpful!

Sounds like congrats are in order! 🎉

[2018-11-28 15:40] echosa commented on #11
Just an update: still working on this. Haven't abandoned it. Just taking longer than expected! Doing what I can ASAP, though.

[2018-12-13 16:59] echosa commented on #11
Huge update: I believe I have completed the work necessary for the Helix upgrade (again, limited to the API calls I personally use for now). I've moved my work into a new forked repo under my company's account, and have created a PR for them to look over an review. (It's good to have a separate set of eyes, especially since this will be part of our own site.)

After everything is all good internal

[2018-12-13 18:14] nicklaw5 commented on #11
Sounds absolutely fantastic! Can't wait!

[2018-12-27 19:07] echosa opened #23 "Update Travis CI to run new processes"
https://github.com/nicklaw5/twitch-api-php/pull/22 introduces a couple of new dev tools, namely `phpspec` and `php-cs-fixer`. We should get CI to run at least `phpspec`, if not also `php-cs-fixer`, once that PR is merged.

[2018-12-27 19:30] echosa opened #24 "Add missing New Twitch API endpoints"
Continuing from https://github.com/nicklaw5/twitch-api-php/issues/11 the rest of the New Twitch API endpoints should be added.

*Channel Points*
- [x] https://dev.twitch.tv/docs/api/reference#create-custom-rewards
- [x] https://dev.twitch.tv/docs/api/reference#delete-custom-reward
- [x] https://dev.twitch.tv/docs/api/reference#update-custom-reward
- [x] https://dev.twitch.tv/docs/api/reference#upd

[2018-12-27 19:31] echosa commented on #11
Initial Helix support has been added. I'm closing this ticket in favor of https://github.com/nicklaw5/twitch-api-php/issues/24 for continuing development.

[2018-12-27 19:31] #11 closed

[2018-12-27 19:34] echosa commented on #14
Closing. The newly introduced New Twitch API code allows for injecting and using custom Guzzle instances, so this can be done there. Additionally, I don't think there's much need to add this to the old API.

[2018-12-27 19:34] #14 closed

[2019-01-01 20:20] nicklaw5 commented on #23
#27 adds `phpspec` to CI. Leaving this open until we get around to adding `php-cs-fixer`.

[2019-02-07 15:51] echosa opened #31 "Use string instead of int for Twitch IDs"
As pointed out in Discord and confirmed in the [NewTwitchApi docs](https://dev.twitch.tv/docs/api/reference/#get-users), Twitch IDs are handled as strings, even though at the moment they seem to only be integer values. I assume this is for future-proofing. I erroneously made all the IDs act as integers via strict typing in the NewTwitchApi code. Sorry! This needs to be fixed.

[2019-02-07 20:15] #31 closed

[2019-02-10 13:16] zanderwar opened #33 "PHPDocs"
Love how detailed the PHPDocs are, thank you - one minor issue is that `json` is not a valid `@return` type. Instead, it's many instances should be `string`

PHPStorm, in particular, will cry about this when inheriting PHPDocs (making a wrapper using this library)

If you agree I'm happy to PR in the changes, thanks

[2019-02-12 19:43] nicklaw5 commented on #33
Hi @zanderwar. Thanks for letting us know. I doubt we'll get to this ourselves. Happy to accept a PR if you want to look into this yourself.

[2019-02-12 23:55] amcnea opened #34 "Make API Requests with bearer token for Authenticated Requests"
I would like to be able to make authenticated requests to the NewTwitch API via a bearer token.  This seems to be allowed by the callApi() method by passing it in as a method parameter:

[code]

However, when this method is wrapped with Resource endpoint classes, this feature is not used. For instance in the GamesApi the getGames() method looks like:
[code]

Hence, I can't make a request using thi

[2019-02-13 01:06] nicklaw5 commented on #34
Relates to #30

@echosa Do you mind taking a look at this?

[2019-02-13 19:26] echosa commented on #34
@amcnea I'll see what I can do about this. Are you able to wait on this for a few days or a week?

[2019-02-13 23:21] amcnea commented on #34
@echosa I actually wrote something up this morning so I can move on with my project.  I wouldn't mind cleaning it up and formalizing it.  If you don't like the road I went down, I can always refactor to use the excepted solution later.  But, if you like where I am going I don't mind finishing it off and sending in a PR.

https://github.com/amcnea/twitch-api-php/commit/d9ec8d01f18520351724014f808a5

[2019-02-14 14:35] echosa commented on #34
@amcnea Test it a bit more and let me know how it goes, but I don't really like what's going on in your changes. My two main issues at first glance are:

1) Requiring the Helix client to have a secret.
2) Adding oauth calls into the Helix client.

Expanding on the second point, the reason Helix and Oauth have separate classes is because they are separate "things". HelixGuzzleClient makes calls to

[2019-02-14 19:36] amcnea commented on #34
@echosa  I understand and somewhat agree with that.  What led me to this is the following (fyi: the following numbering does NOT correspond to your numbered points).

1) The HelixGuzzleClient MUST have the credentials in order to add them to the requests (ClientId or a Token which requires a ClientSecret).
  * If you consider the ClientId a basic form of credentials, then Helix already requires an

[2019-02-14 20:45] echosa commented on #34
Thank you for that response. Let me read over it again and look at the code again later, when I have some time. You've made some good points. I want to make sure I understand everything correctly before proceeding in either direction.

[2019-02-17 03:17] echosa commented on #34
@amcnea I'm going to make comments on your commit you linked. I think it'll be easier to discuss directly on the lines of code being discussed.

[2019-02-17 03:59] echosa opened #35 "Add echosa as an author in composer.json"
Since I'm now an author in the project, I should probably be added as such in composer.json.

[2019-02-17 04:23] echosa opened #36 "Move CLI client into separate project"
The CLI client would be better as a separate project. That will help make maintaining this project less of a hassle.

[2019-02-17 15:17] #35 closed

[2019-02-17 15:18] #36 closed

[2019-05-01 02:25] r2dliu opened #40 "Unsubscribe"
subscribe function in webhook creation is hard coded to 'subscribe' mode. Is removing subscriptions coming at some point?

[2019-05-01 14:57] echosa commented on #40
Yes, I plan on getting this done (or accepting a PR with adds it) in time. I have not personally needed it, so I haven't taken the time to develop it.

[2019-05-14 11:35] b3none opened #41 "Use >= PHP 7.1 syntax"
I believe that this is for the best since PHP 5 was deprecated.

[2019-05-14 11:40] b3none commented on #41
Fixed by #43

[2019-05-14 14:15] echosa commented on #41
I agree! Thanks for the PRs updating the README. I've merged them in. I think the code is already mostly 7.1, even though the README had still said otherwise. Do you see any code changes that are necessary to be 7.1-compatible? Happy to accept another PR.

[2019-05-14 14:19] b3none commented on #41
Firstly, thanks for merging my PRs.

Figure I'd be better adding some clarification:
[code]

What I am getting at is that this could perhaps be updated with return types etc.

i.e.
[code]

If I get the time I'll submit a PR with the updates but no promises! :)

[2019-05-14 14:45] echosa commented on #41
I'll say this: keep in mind that half this codebase is the "old" API, and that code is still old PHP and will possibly/likely go away at some point. If that's what you're looking at updating, I'm not sure it's worth it. All the code in the `NewTwitchApi` namespaces is new and should already be PHP 7.1 compatible.

[2019-05-14 14:47] b3none commented on #41
Personally I'd say make a final release of the old one and bump the version then make another release with the new one in its place.

[2019-05-14 14:54] echosa commented on #41
The issue with that is not all APIs are available in the New Twitch API yet (as in Twitch hasn't developed/released them). So in order to get the functionality missing in the New Twitch API, you still need to use the old API. For that reason, I've kept them side-by-side so that users (myself included) of this library can download the library and have access to the new API and the old API for calls

[2019-05-14 14:56] b3none commented on #41
When you put it that way you're probably right. I'm going to submit a PR to the new stuff in the next minute or so containing doc blocks as well as switching out private where not necessary imho

[2019-05-24 14:12] #40 closed

[2019-06-26 15:22] boredom2 opened #47 "Videos and Clips"
Hi there,

I know, there is another Ticket with "missing Endpoints in NewAPI".
Nevertheless, is it likely, that you will add the Endpoints /videos and /clips for NewAPI anytime soon? Those are basically the most important Endpoints for us.

Thanks a lot!
Christoph

[2019-06-26 16:18] echosa commented on #47
@boredom2 I can try to get it in, but I'm currently in the middle of moving between homes so life's a bit busy. Is it something you could add and test, then PR to us to review?

[2019-06-27 07:59] boredom2 commented on #47
@echosa Thanks, I understand. I can ask someone from our Team, if he can give it a shot.
Happy moving :)

[2019-07-19 15:20] brandinarsenault commented on #47
@boredom2 has your team made progress on this? I don't want to begin a PR if you are already working on it.

[2019-08-16 22:30] AlmostInteractive opened #52 "Copy/Paste error returns wrong API"
https://github.com/nicklaw5/twitch-api-php/blob/e9bc5980cb243c539391b07585aa0cba0543b964/src/NewTwitchApi/NewTwitchApi.php#L68

`getVideosApi` should return an instance of `VideosApi` not `UsersApi`.  See lines 63 and 73 for more errors.

[2019-08-16 22:37] AlmostInteractive commented on #52
I just made a PR instead of being lazy. :+1:

[2019-08-16 22:37] #52 closed

[2019-08-19 14:37] echosa commented on #52
Thanks!

[2020-02-14 10:52] julian-d commented on #34
Is there any update on the topic?

[2020-02-17 15:15] echosa commented on #34
@amcnea Have you been using your changes? Did you address the of the unanswered comments I left? I'd love to see this improved in the main repo for everyone! :-)

[2020-02-24 11:56] boredom2 commented on #47
Hi there. Coming back to this Issue :)
I saw, that someone made some Progress at least for the /videos APIs - but I think, its not yet merged/released?
I saw it hapopening here: https://github.com/nicklaw5/twitch-api-php/pull/50.

What is the Status of this?

Thanks!
Christoph

[2020-02-24 12:45] brandinarsenault commented on #47
As far as I'm aware, this was merged but the composer package was never updated.

[2020-02-24 12:45] brandinarsenault commented on #47
The progress in #50 was merged but never updated in the composer repo. Nothing new has been done since then as far as I'm aware.

[2020-02-24 14:02] boredom2 commented on #47
Do you plan to "officially" merge and update the Composer Repo accordingly?

[2020-02-24 14:12] echosa commented on #47
Ah, I need to create a new release of the project here on GitHub. I'll do that today. Sorry for the delay!

FTR, you can always use the latest code by telling your composer to pull `dev-master`.

[2020-02-24 14:19] echosa commented on #47
Version 2.1.2 has just been created. I'm not sure how/when packagist will get the updated, but I assume it should be soon.

[2020-02-24 14:23] boredom2 commented on #47
Wow, thanks for that fast Processing :)

[2020-02-24 14:25] #47 closed

[2020-02-24 14:26] echosa commented on #47
You're welcome! Sorry again for the delay! This is a side project for me, and often gets left on the backburner. Reminders are good! :-)

[2020-05-13 00:08] brandinarsenault opened #55 "Ensure Helix API allows authentication for all Endpoints"
I haven't had a chance to check all of the endpoints and I will when I can, but I wanted to open this to keep us all on alert that all Helix endpoints require authentication now, need to ensure this flows through all the endpoints we have in the wrapper

[2020-05-13 13:11] echosa commented on #55
I wasn't aware of this! Thanks for the ticket, @brandinarsenault. This library does what I need, so I haven't found much time to work on it lately.

[2020-05-17 18:03] brandinarsenault commented on #55
First modification in PR #56 - just happened to come across some failing API calls today so figured I'd push this along. They're returning 401s for everything without a token now, was seemingly a fairly fast transition.

[2020-05-30 01:26] keithslater opened #58 "OAuth for Helix endpoints"
As of May 1st, it appears Twitch is requiring OAuth authentication for their Helix endpoints. Is there any plan for this project to support that?

https://discuss.dev.twitch.tv/t/requiring-oauth-for-helix-twitch-api-endpoints/23916

[2020-05-30 18:11] nicklaw5 commented on #58
Duplicate of #55

[2020-05-30 18:11] #58 closed

[2020-06-09 21:51] brandinarsenault commented on #55
Bearer Token was demanded for the new Clips API in #59

[2020-06-09 21:55] brandinarsenault commented on #55
I have my items ready to PR to close this ticket but want to keep it separate from the Clips API, unless you'd rather me push it all together, let me know @echosa or @nicklaw5

[2020-06-09 22:00] brandinarsenault commented on #34
I think this is accomplished for Helix via that changes I'll be doing in #55 and no further changes will be needed @echosa?

[2020-06-09 22:05] brandinarsenault commented on #24
Here is a list of missing endpoints:

*Analytics*
https://dev.twitch.tv/docs/api/reference#get-extension-analytics**
https://dev.twitch.tv/docs/api/reference#get-game-analytics

*Bits*
https://dev.twitch.tv/docs/api/reference#get-bits-leaderboard
https://dev.twitch.tv/docs/api/reference#get-extension-transactions

*Clips*
https://dev.twitch.tv/docs/api/reference#create-clip

*Entitlements*
https:/

[2020-06-18 23:04] #55 closed

[2020-06-19 02:47] brandinarsenault commented on #24
I've updated https://github.com/nicklaw5/twitch-api-php/issues/24#issuecomment-641606606 with new endpoints released but not yet added.

[2020-06-19 13:17] echosa commented on #24
Thank you for being so vigilant!

[2020-06-19 13:39] echosa commented on #41
This should have been handled in #61. Closing. Please reopen with explanation if something else still needs to be done.

[2020-06-19 13:39] #41 closed

[2020-06-19 18:32] #33 closed

[2020-06-19 18:50] #23 closed

[2020-06-30 02:26] brandinarsenault commented on #24
Resolved the following two in PR #66:
https://dev.twitch.tv/docs/api/reference#start-commercial
https://dev.twitch.tv/docs/api/reference#create-clip

[2020-06-30 14:00] echosa commented on #24
New version released with those two endpoints: https://github.com/nicklaw5/twitch-api-php/releases/tag/v3.0.1

[2020-06-30 14:31] Brandin opened #67 "Create Missing Specs for Ads and Clips Api"
As per PR #66 we need Specs for the new Ads and Clips API - low priority but will get this done with time

Specs required:
- [x] Ads->ALL
- [x] Bits->getBitsLeaderboard
- [x] Clips->ALL
- [x] Entitlements->getEntitlementGrantsUploadURL
- [x] HypeTrain->ALL
- [x] Moderation->ALL
- [x] Search->ALL
- [x] Streams->SOME
- [x] Subscriptions->ALL
- [x] Users->SOME
- [x] Videos->ALL
- [x] Webhooks->SOME?

[2020-06-30 14:45] echosa commented on #67
Thank you!

[2020-07-19 12:12] MaxHayman commented on #24
added https://dev.twitch.tv/docs/api/reference/#create-entitlement-grants-upload-url

https://github.com/nicklaw5/twitch-api-php/pull/70

[2020-07-20 19:50] brandinarsenault commented on #24
Code for `modifyChannelInfo` - need `PatchApi` call
`    /**
     * @throws GuzzleException
     * @link https://dev.twitch.tv/docs/api/reference#modify-channel-information
     */
    public function modifyChannelInfo(string $bearer, string $broadcasterId, string $status = null, string $gameId = null, string $broadcasterLanguage = null, string $title = null, string $description = null): ResponseI

[2020-07-20 19:55] brandinarsenault commented on #24
Need `PutApi` and `DeleteApi` call for further endpoints

[2020-07-20 20:02] brandinarsenault commented on #24
Resolved in #74
- BitsApi->getExtensionTransactions
- AnalyticsApi->getExtensionAnalytics
- AnalyticsApi->getGameAnalytics
- EntitlementsApi->getStatusCode
- EntitlementsApi->redeemCode
- TagsApi->getAllStreamTags
- TagsApi->getStreamTags
- UsersApi->createUserFollow

[2020-07-20 20:03] brandinarsenault commented on #24
Updated list of missing endpoints:

*Moderation*
- [ ] https://dev.twitch.tv/docs/api/reference#check-automod-status

*Streams*
- [ ] https://dev.twitch.tv/docs/api/reference#create-stream-marker
- [ ] https://dev.twitch.tv/docs/api/reference#modify-channel-information

*Tags*
- [ ] https://dev.twitch.tv/docs/api/reference#replace-stream-tags

*Users*
- [ ] https://dev.twitch.tv/docs/api/reference

[2020-07-20 20:20] echosa commented on #24
@brandinarsenault I have copied your latest updated list into the issue description. It'll be easier to find and reference there, rather than having to dig through the comments.

[2020-07-27 12:51] condolent opened #75 "Issue with getUserByAccessToken"
I just installed this lib and trying to figure out how it works.
I want to get user info via a access token and did this:
[code]
However I just get an 500 error when doing this. Is this the correct usage?

[2020-07-27 13:12] #75 closed

[2020-08-01 02:11] brandinarsenault opened #76 "Update Doc Link for getBroadcasterSubscribers"
https://github.com/nicklaw5/twitch-api-php/blob/26912038487e408a03828d3bb2472b8a73811ded/src/NewTwitchApi/Resources/SubscriptionsApi.php#L35

It seems as if, at one point, Twitch had an API Doc specifically for these separate instances, which now have been merged into one:
https://dev.twitch.tv/docs/api/reference/#get-broadcasters-subscribers

[2020-08-02 00:35] brandinarsenault opened #77 "isValidAccessToken has no try catch"
isValidAccessToken only returns true or false - which is great in practice but produces PHP errors if Twitch's OAuth API is offline

[2020-09-20 20:46] brandonjbegle opened #78 "Webhooks now requires OAuth Tokens"
The unsubscribe function in WebhookSubscriptionApi.php needs support for Bearer tokens.

[2020-09-21 10:14] #78 closed

[2020-09-25 14:40] harlick opened #81 "what bearer token is twitch new api looking ?"
Hello, i'm using the last version of this library and i'm trying to get some of the user data.

case : We have a acces token to a twitch user account after the user enable authentication, we then try to use your library to access his data

[code]

but the call always end up in failure
[code]

My question is what's the value expect for the bearer token ?

[2020-09-25 15:00] echosa commented on #81
@brandinarsenault Can you answer this? I'm still using version 2.x in my own production code, and haven't switched over to the bearer-required version yet. :grimacing:

[2020-09-25 15:03] brandinarsenault commented on #81
@harlick you are expected to follow the Authentication requirements outlined here: https://dev.twitch.tv/docs/api/reference#get-users

If you are receiving a 401, your token is, in fact, invalid. I would recommend you reach out to the TwitchDev support for further help on Authentication and debugging: https://link.twitch.tv/devchat

[2020-09-25 15:06] echosa commented on #81
Perhaps we should update the README accordingly. A lot of has changed since I last edited it, including version 3.0 of the library.

[2020-09-25 15:09] brandinarsenault commented on #81
I was just thinking that :) Glad we're on the same page! I have a few projects on the go so I can't right now, but if I remember in the next few days I'll add some items to it.

[2020-09-25 15:21] echosa opened #82 "Update README"
The README is out of date and should be updated. A lot has changed between when I last updated it and the current library version (3.1.0 at the time of this issue's creation).

Changes could include, but are not limited to:

- Bearer requirement explanation
- Code example(s)
- Maybe refer to "New Twitch API" as just "Twitch API" now that Twitch seems to have changed the name on their end? (I sort

[2020-09-25 15:27] harlick commented on #81
Can i please have a working example with the helix API ?

[2020-09-25 15:33] brandinarsenault commented on #81
[code]

[2020-09-25 15:52] harlick commented on #81
thank you. I'll keep you update if I fix my issue

[2020-09-29 18:52] salmanalee opened #83 "Revoke access token API not working"
Twitch API expects form data but package is sending json data.

Solution: Add support for form_data in post() method.

[2020-10-01 13:46] harlick commented on #81
Hello, sorry for the delay, even with your example I wasn't able to work with the NewApi, I'll switch back to the v5 for now.

Thanks for your time.

[2020-10-20 22:35] brandinarsenault opened #85 "Twitch API Discord"
Hi @nicklaw5 (CC @echosa)

I've spoken with a Moderator in the Twitch API Discord (https://discord.gg/8NXaEyV) and they want to add both this and the Go Library (https://github.com/nicklaw5/helix) for the Twitch API as a resource in their server but they make the project owner and collaborators the owners of the channel, so you two would need to be in there and agree to have it added. I wanted to

[2020-10-21 09:07] nicklaw5 commented on #85
Sorry, I don't understand. What does as adding these libraries as "a resource in their server" actually mean? I'm not on Discord very mush at all. So not sure how much help it would be.

[2020-10-26 15:36] echosa commented on #85
Similar to Nick, I'd like to know what exactly this means and what it would do.

[2020-11-29 06:59] brandinarsenault opened #86 "getStreams Improvements"
- Discontinue support for community_id
- Add function helper for Game IDs, Languages
- Allow first, after, before in helper functions?

[2020-12-03 21:04] brandinarsenault commented on #86
Addressed on PR #87

[2020-12-03 21:04] #86 closed

[2020-12-07 15:42] brandinarsenault opened #89 "Remove communityIds parameter in getStreams"
_Originally posted by @echosa in https://github.com/nicklaw5/twitch-api-php/pull/87#discussion_r537596561_

[2020-12-07 15:58] brandinarsenault commented on #81
@echosa #82 requests the above you noted, this issue should be fine to close.

[2020-12-07 16:03] #81 closed

[2020-12-10 22:51] brandinarsenault opened #90 "startCommercial does not work"
Based on the documentation, these are meant to be body parameters, not URL parameters. Opening this issue to resolve this bug.

[2020-12-11 03:09] brandinarsenault commented on #83
This issue is in the v5 API which is deprecated. @echosa this is likely safe to close.

[2020-12-11 15:02] echosa commented on #83
Indeed. @salmanalee Please use the New Twitch API instead of the older v5 API.

[2020-12-11 15:02] #83 closed

[2020-12-11 15:31] brandinarsenault opened #92 "Rename callApi to getApi"
With `put`, `post`, and `delete` being the other methods, we should really name this one `get`. Not now, of course. That will be a breaking change. We can do it for the next major release. Please ticket? :-)

_Originally posted by @echosa in https://github.com/nicklaw5/twitch-api-php/pull/91#discussion_r541015042_

[2020-12-11 15:40] #76 closed

[2020-12-11 15:40] #90 closed

[2020-12-11 21:36] brandinarsenault commented on #24
Updated list of missing endpoints:

*Channel Points*
- [ ] https://dev.twitch.tv/docs/api/reference#create-custom-rewards
- [ ] https://dev.twitch.tv/docs/api/reference#delete-custom-reward
- [ ] https://dev.twitch.tv/docs/api/reference#update-custom-reward
- [ ] https://dev.twitch.tv/docs/api/reference#update-redemption-status

*Entitlements*
- [ ] https://dev.twitch.tv/docs/api/reference#create-

[2020-12-11 21:38] brandinarsenault opened #93 "getEntitlementGrantsUploadURL should be named createEntitlementGrantsUploadUrl"
Docs: https://dev.twitch.tv/docs/api/reference/#create-entitlement-grants-upload-url

Originally done in #70

[2020-12-14 14:20] echosa commented on #93
Changed the title to fix a typo `createt` and change `URL` to `Url`, for consistency in the codebase.

[2020-12-14 21:24] An0nymusA opened #95 "Fatal error: Uncaught Error: Class 'HelixGuzzleClient' not found"
Some help im lost, i dont know what to do
Error:

File redirect.php:
[code]

directory: https://i.imgur.com/xIN4Jsb.png

[2020-12-15 16:00] An0nymusA commented on #95
You are right I was working with php libs for first time so I screwed up the library now its ok thanks for help

[2020-12-15 16:00] #95 closed

[2021-01-22 14:14] NormanHuth opened #96 "How subscribe/unsubscribe from Moderator Change Events"
How can I subscribe/unsubscribe from the Webhook Topic Moderator Change Events?
https://dev.twitch.tv/docs/api/webhooks-reference/#topic-moderator-change-events

[2021-01-22 16:00] echosa commented on #96
That webhook has not yet been added to the library yet. I'm can't promise it will be added anytime soon. If you would like, you can fork the project, add it, and send a pull request back here. You should just have to add a new method to https://github.com/nicklaw5/twitch-api-php/blob/master/src/NewTwitchApi/Webhooks/WebhooksSubscriptionApi.php.

If you do, please also update the spec: https://gith

[2021-01-22 16:10] NormanHuth commented on #96
OK.

[2021-01-23 13:57] NormanHuth commented on #96
I have added the corresponding missing webhook on my system. But I'm still developing and will put a merge request later, because I don't want to do this for every little change.

[2021-01-23 13:57] #96 closed

[2021-02-06 03:46] keithslater opened #97 "Proper way to make server-to-server calls"
Ever since Twitch made a change last year, I've been having a problem with server to server calls returning `401 Unauthorized` - `OAuth token is missing`

Is this library updated to handle this type of calls in order to get access tokens? Or do changes still need to be made for it? It looks like the oauth library can handle it, but it doesn't look like NewTwitchApi is using it.

[2021-02-08 16:30] echosa commented on #97
I don't understand what you mean by "server to server calls".

[2021-02-08 16:44] brandinarsenault commented on #97
In the OAuth Api you use `getAppAccessToken`:
https://github.com/nicklaw5/twitch-api-php/blob/master/src/NewTwitchApi/Auth/OauthApi.php#L108

Make sure to review the OAuth API Docs at Twitch, you would be able to use this to locate the function by searching for `client_credentials` in the project:
https://dev.twitch.tv/docs/authentication/getting-tokens-oauth

[2021-02-08 16:46] keithslater commented on #97
Thanks, I've actually been able to do that. What do I do with the app token once I get it? I'm not seeing a way for NewTwitchApi to use it.

[2021-02-08 16:47] brandinarsenault commented on #97
If you review the API Docs at Twitch you would note that its considered an access token, so you use it like you would any other token.

[2021-02-21 23:48] #97 closed

[2021-02-25 03:41] brandinarsenault opened #98 "Add Numerous Endpoints with Body Params"
`checkAutomodStatus`

[code]

`createStreamMarker`

[code]

`modifyChannelInfo`

[code]

`startCommercial`

[code]

`createCustomReward`

[code]

`updateCustomReward`

[code]

`updateRedemptionStatus`

[code]

[2021-02-25 17:37] #92 closed

[2021-02-25 17:38] #89 closed

[2021-02-25 17:38] #93 closed

[2021-03-22 03:04] brandinarsenault opened #103 "Pull streams/metadata"
It looks like `streams/metadata` has been pulled?
https://dev.twitch.tv/docs/api/reference/#get-streams-metadata

[2021-03-22 03:05] brandinarsenault opened #104 "getStreamTags is duplicated"
`getStreamTags` is used in both the Tags and Streams. It looks like at some point Twitch moved it out of the Streams API and into another, it should be removed from the Streams API.

[2021-03-22 03:06] brandinarsenault opened #105 "getChannelInfo is duplicated"
`getChannelInfo` is used in both the Channels and Streams. It looks like at some point Twitch moved it out of the Streams API and into another, it should be removed from the Streams API.

[2021-03-22 03:11] brandinarsenault opened #106 "Review implementation of subscriptions"
We have two functions making calls to subscription, this may be more ideal for code readability, however traditionally we do helper functions that call to the main function so if a call breaks we only have to update one and avoid breaking any other functions. Consider an adjustment in the code base.

[2021-03-22 03:12] brandinarsenault opened #107 "Pull subscriptions/events"
It looks like `subscriptions/events` has been pulled?
https://dev.twitch.tv/docs/api/reference/#get-subscription-events

[2021-03-22 03:22] brandinarsenault opened #108 "Complete Endpoint Coverage"
Below is a list that we will maintain of missing endpoints including reasons they are blocked (if any) and our current coverage. If you wish to contribute for any of these, please submit a pull request. Our biggest blocker is Body Parameters. This was attempted in PR #94 but did not work so was moved into Issue #98.

# Current Endpoint Coverage
Section | Documented | Library | Coverage
-----------

[2021-03-22 03:23] brandinarsenault commented on #24
Moved to #108

[2021-03-22 03:23] #24 closed

[2021-03-25 00:53] Brandin opened #110 "Plan to Pull Kraken Support"
Kraken is considered legacy and no longer supported, and migrations are available for all endpoints.

[2021-03-25 01:02] brandinarsenault commented on #110
After a few smart remarks from others, finally got some thoughts from an admin in the TwitchDev Discord, they recommend keeping it until Twitch actually removes it. Will follow through with info removal in #82 but not remove it from the code for the near future. Will keep ticket open.

[2021-03-30 14:43] #85 closed

[2021-03-30 14:48] brandinarsenault opened #111 "Add PHP 8.0 Support in GHA"
We need to begin testing PHP 8.0 in the specs, this should be added (PRs previously failed with this, wasn't debugged at the time)

[2021-04-03 17:15] #82 closed

[2021-04-08 19:19] alitnk opened #113 "Hype train events"
Hey, thanks for the package.

Just wanted to know when will this endpoint be covered in webhooks?
https://dev.twitch.tv/docs/api/webhooks-reference#topic-hype-train-event

[2021-04-08 19:34] brandinarsenault commented on #113
Further webhooks are unlikely to be implemented as EventSub is considered a superior method. There is a WIP PR for this.
Per Twitch:

[2021-04-09 06:20] alitnk commented on #113
Thanks for the response.

Will the PR be added anytime soon?

[2021-04-09 12:29] brandinarsenault commented on #113
Whenever the user finishes the PR.

[2021-04-09 15:29] #113 closed

[2021-05-27 01:12] brandinarsenault opened #118 "subscriptions Functions Duplicated"
We have `getBroadcasterSubscriptions` and `getBroadcasterSubscribers`, they hit the same endpoint, with different params. This is inconsistent with other behavior in the library and should be reviewed.

[2021-05-27 01:12] #118 closed

[2021-05-27 01:43] brandinarsenault opened #119 "getPredictions and getPolls Parameters In Wrong Order"
The `after` and `first` are not in the right order. This will be a breaking change.

[2021-05-27 02:07] brandinarsenault opened #120 "getDropsEntitlements Parameters In Wrong Order"
The `after` and `first` are not in the right order. This will be a breaking change.

[2021-05-27 02:20] brandinarsenault commented on #119
After further consideration, you can supply a pagination for `after` without supplying `first`, this is okay.

[2021-05-27 02:20] #119 closed

[2021-05-27 02:20] brandinarsenault commented on #120
After further consideration, you can supply a pagination for `after` without supplying `first`, this is okay.

[2021-05-27 02:20] #120 closed

[2021-05-28 02:57] Brandin opened #122 "Add Update User Extensions"
The sole remaining endpoint from #108:
https://dev.twitch.tv/docs/api/reference#update-user-extensions

[2021-05-28 14:42] #103 closed

[2021-05-28 14:42] #104 closed

[2021-05-28 14:42] #105 closed

[2021-05-28 14:42] #107 closed

[2021-05-28 14:42] #108 closed

[2021-05-28 18:46] #98 closed

[2021-06-02 16:07] #111 closed

[2021-06-02 16:45] brandinarsenault opened #126 "Client Errors for 5.0"
#121 introduced more errors than expected. Although I tested it, it seems I may have been using the wrong version in my testing and I did not notice the errors. Fortunately, it seems nobody has tested the new version yet...or we probably would've gotten a notice!

`Argument 1 passed to NewTwitchApi\NewTwitchApi::__construct() must be an instance of GuzzleHttp\Client`

Naturally, I would think "wel

[2021-06-02 16:57] echosa commented on #126
I'd rather not rollback. I don't think we need to. Since 5.0 was a major version change and seems "broken", any clients using this library can just go back to/continue using pre-5.0 versions. If they're using 5.0, they're already experiencing this breakage anyway.

I'd say just fix the issues in 5.0 and push it.

[2021-06-02 18:11] ThibaultVlacich commented on #126
I am using the changes I made in #121, and as stated in the PR it requires some changes to the code, as documented in the Readme.

[code]

Instead of:
[code]

(Make sure to remove the `new` keyword!)

[2021-06-02 18:23] brandinarsenault commented on #126
Interesting...okay...that does work for me...

Now, do we want to recommend this new method of code for v5 or do we want to rework the HelixGuzzleClient class to be a working middleware? (similar to how they've done it in CloudFlare's library - https://github.com/cloudflare/cloudflare-php/blob/master/src/Adapter/Guzzle.php)

I'm working on the second, and its working for everything except the Webh

[2021-06-02 18:27] ThibaultVlacich commented on #126
I think the way Cloudflare is doing it is better / cleaner, I wish I would have thought of doing it that way initially :D

[2021-06-02 18:30] brandinarsenault commented on #126
This refactor of the Webhooks API is going to be very painful...and with EventSub now in, and Twitch actually recommending it over Webhooks, it would be nice to pull it over refactoring this whole API and Spec. Thoughts @echosa?

[2021-06-02 20:39] echosa commented on #126
At this point, I touch this code much less than you and don't really use any of the features added since I stopped mainline working on it. I trust the future to you. However you see fit to get this library back up to code (pun intended) is good with me. I'm happy to review changes and add specific code-related input then.

[2021-06-02 21:14] brandinarsenault commented on #126
Seems like the best method is adding our own middleware which I'm continuing in #127. As for the Webhooks, I'll definitely remove them in favor for EventSub due to Twitch's recommendation.

[2021-06-03 03:18] brandinarsenault commented on #77
Closing this, would be better for a developer to receive the status code and handle accordingly using their own try catch.

[2021-06-03 03:18] #77 closed

[2021-06-03 03:23] brandinarsenault commented on #106
Closing, although a change would match the remainder of the library, this would be a large breaking change that really isn't necessary, just *preferred*.

[2021-06-03 03:23] #106 closed

[2021-06-03 16:30] #126 closed

[2021-07-15 18:06] ThibaultVlacich commented on #110
https://discuss.dev.twitch.tv/t/legacy-twitch-api-v5-shutdown-details-and-timeline/32649

[2021-07-28 18:27] Brandin opened #133 "Remove Create and Delete Follows"
https://discuss.dev.twitch.tv/t/deprecation-of-create-and-delete-follows-api-endpoints/32351/

[2021-07-30 18:34] #110 closed

[2021-07-30 18:34] #133 closed

[2021-09-06 19:00] Brandin opened #136 "Complete Endpoint Coverage"
| Product | Endpoint Name | Blockers |
| - | - | - |
| Extensions | [Update User Extensions](https://dev.twitch.tv/docs/api/reference#update-user-extensions) | *None* |
| Extensions | [Get Extension Configuration Segment](https://dev.twitch.tv/docs/api/reference#get-extension-configuration-segment) | *None* |
| Extensions | [Set Extension Configuration Segment](https://dev.twitch.tv/docs/api/refer

[2021-09-06 19:00] Brandin commented on #122
Merged into #136

[2021-09-06 19:00] #122 closed

[2022-03-03 05:02] Brandin opened #139 "Create Missing Spec for Update Drops Entitlements endpoint"
PR #138 added a new call without a spec. The test should be created in line with our other calls.

CC/ @MaxHayman

[2022-08-21 16:35] sbc-mining opened #141 "Refresh Token & createChannelStreamScheduleSegment"
Hello,

I'm currently trying to edit the schedule on Twitch with the API.

Currently I always get the error that the OAUTH token is missing. But I enter it as follows:
""error":"Unauthorized","status":401,"message":"Missing User OAUTH Token""

`$response = $twitchApi->getScheduleApi()->createChannelStreamScheduleSegment($twitch_access_token,$twitchid,$schedulestarttime,$scheduletimezone, false, $a

[2022-09-05 14:55] Brandin commented on #141
In the future, I would encourage you to look through the class files before posting to see if you can locate the function. Doing a project search for the function you're already able to find `getAppAcessToken` or how to get the user token described in README (`getUserAccessToken`) would lead you to `src/OauthApi.php`. In this file, which is the OAuth API you've initialized in the example in the RE

[2022-09-05 14:55] #141 closed

[2022-09-05 15:40] Brandin commented on #136
Primary endpoints and categories completed. Extensions not supported at this time, In the future, if a request is made, we'll add them.

[2022-09-05 16:08] Brandin opened #144 "Update README for User Refresh/App Tokens"
The information in the README is labelled incorrectly on how to refresh a user and an app token. It should be updated.

[2022-09-06 14:24] #67 closed

[2022-09-06 14:24] #136 closed

[2022-09-06 14:24] #139 closed

[2022-09-11 22:05] Brandin opened #145 "VIP Functions in Wrong API Class"
The VIP functions are currently in the Moderation API when they should be in the Users API.

[2022-09-29 19:12] Brandin opened #146 "Beta Endpoints Procedure"
Hi @nicklaw5 and @echosa,

As Twitch continues to push more endpoints out in their "beta" which normally lasts one month, what would you like us to do with these? On occasion, it has resulted in breaking changes which has meant a major version bump.

Do we want to:
- add them as is, make changes after beta and not promote a major version change despite (maybe add a note in the code while in beta)

[2022-10-27 02:34] Brandin commented on #145
Despite their URL, they belong in the Moderation API.

[2022-10-27 02:34] #145 closed

[2022-11-23 23:23] midblep commented on #144
I've been struggling with this exact thing, it's my first time trying to figure out the library. What would be the correct way to do it?